<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="panel panel-default">
		<div class="panel-heading">
			<table class="table table-condensed">
				<thead class="bg-success" style="font-variant: small-caps">
					<tr>
						<th>Username</th>
						<th>Password</th>
						<!-- <th>Image</th> -->
						<th>Fullname</th>
						<th>Email</th>
						
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in pager.items">
					<td>{{p.username}}</td>
					<td>{{p.password}}</td>
					<!-- <td>{{p.image}}</td> -->
					<td>{{p.fullname}}</td>
					<td>{{p.email}}</td>
					
					<td>
						<div class="btn-group btn-group-xs">
								<button ng-click="edit(p)"
									class="btn btn-warning glyphicon glyphicon-edit"> <i class="fa fa-pencil-square-o"></i> </button>
								<!-- button ng-click="delete(p)"
									class="btn btn-danger glyphicon glyphicon-trash"> <i class="fa fa-trash-o"></i> </button> -->
							</div>
					</td>
				</tr>
			</tbody>
		</table>
			<div class="panel-footer text-center">
				<button ng-click="pager.first()" class="btn btn-danger">
					<b class="glyphicon glyphicon-hand-up"><i class="fa fa-hand-o-up"></i></b>
				</button>
				<button ng-click="pager.prev()" class="btn btn-primary">
					<b class="glyphicon glyphicon-hand-left"><i class="fa fa-hand-o-left"></i></b>
				</button>
				<button class="btn btn-success">{{pager.page + 1}} of
					{{pager.count}}  </button>
				<button ng-click="pager.next()" class="btn btn-primary">
					<b class="glyphicon glyphicon-hand-right"><i class="fa fa-hand-o-right"></i></b>
				</button>
				<button ng-click="pager.last()" class="btn btn-danger">
					<b class="glyphicon glyphicon-hand-down"><i class="fa fa-hand-o-down"></i></b>
				</button>
			</div>
		</div>
	</div>


</body>
</html>